img {
  width: 100vw;
  margin-left: 0px;
  margin-bottom: -560px;
  margin-top: 0px;
  position: fixed;
}

h1 {
  font-weight: bold;
  font-size: 60px;
}


.card {
  padding: 100px;
  margin: 9%;
  border-radius: 20px;
  border: white;
  text-align: center;
  /* margin: 20px; */
  /* width: 70%; */
}

.card-text {
  font-weight: 350;
  font-size: 25px;
  letter-spacing: .4px;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  color: grey;
}
