h3 {
  text-decoration: underline;
}

p {
  font-size: 24px;
  line-height: 15px;
}

.container {
  margin-top: 20px;
}

.grid-item {
  width: 33%;
  height: 33%;
}

.grid-container {
  width: 100%;
  justify-content: center;
  margin-bottom: 70px;
}
