<label class="col-form-label-sm">Edit Item Title:</label>
<input class="col-form-label-sm" [(ngModel)]="selectedItem.title">
<br>

<label class="col-form-label-sm">Edit Item Category:</label>
<select class="form-control form-control-sm" [(ngModel)]="selectedItem.category">
  <option value="Beverage">Beverage</option>
  <option value="Snacks">Snacks</option>
  <option value="Breakfast">Breakfast</option>
  <option value="Cookies">Cookies</option>
</select>
<br>

<button  class="btn btn-outline-warning" (click)="beginUpdatingItem(selectedItem)">Update</button>

<button class="btn btn-outline-danger" (click)="beginDeletingItem(selectedItem)">Delete</button>
