#site-header-top-bar {
  background-color: #4f4f4d;
  font-weight: lighter;
  height: 30px;
  /* width: 100%; */
}

#other-nav {
  background-color: #262624;
  margin: 0px;
  padding: 25px;
  margin-bottom: 0px;
  height: 72px;
}

#nav-brand {
  background: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px;
  color: black;
  margin-left: 100px;
}

 #other-nav, a {
  margin-top: 0px;
  color: #f2f2f2;
  font-size: 18px;
}

ul#top-nav {
  margin-left: 100px;
}

ul#bottom-nav {
  margin-right: 100px;
}

li:hover, a:hover {
  font-weight: bolder;
  text-decoration: underline;
  color: 	#ccccff;
}
