

<div class="navbar navbar-expand" id="site-header-top-bar">
  <div class="container-fluid">

    <!-- top navbar : dropdown list : not working -->
    <ul class="nav navbar-nav" id="top-nav">
      <li class="active">
        <a class="nav-link navbar-right" href="#">This site is a clone of Brandless! <span class="sr-only">(current)</span></a>
      </li>
      <li class="navbar-right">
        <a class="nav-link" href="#">Free shipping sometimes if over $39</a>
      </li>
      <li class="navbar-right" *ngIf="isLoggedIn" style="color: #f2f2f2">
        <a class="nav-link" (click)="logout()">Log Out {{userName}}</a>
      </li>
      <li class="navbar-right" *ngIf="!isLoggedIn" style="color: #f2f2f2">
        <a class="nav-link" (click)="login()">Log In</a>
      </li>
    </ul>
  </div>
</div>


<!-- second navbar  -->
<nav class="navbar navbar-expand" id="other-nav">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a id="nav-brand" routerLink="">BRANDLESS CLONE</a>
    </div>
    <ul id="bottom-nav" class="nav navbar-nav navbar-right">
      <li class="nav-item nav-link"><a routerLink="">Home</a></li>
      <li class="nav-item nav-link"><a routerLink="about">About</a></li>
      <li class="nav-item nav-link"><a routerLink="marketplace">Food</a></li>
    </ul>
  </div>
</nav>


<!-- <div class="container"> -->

<router-outlet></router-outlet>
<!-- </div> -->




<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
