<div id="admin" class="container">
  <div class="row">
    <div class="col-4-md">
    <div class="card card-default">
      <div class="card-header">
        <h4 class="card-title"><span id="admin-red">Admin View: </span><br><h5>Add New Item to Inventory</h5></h4>
      </div>
      <div class="card-body">
        <div class="card-text">
          <label class="col-form-label-sm">Item Title:</label>
          <input class="col-form-label-sm" #newTitle>
        </div>

        <br>

        <div>
          <label class="col-form-label-sm">New Item Category:</label>
          <select #newCategory class="form-control form-control-sm">
            Select a category:
            <option #newCategory value="beverage">Beverage</option>
            <option #newCategory value="snacks">Snacks</option>
            <option #newCategory value="breakfast">Breakfast</option>
            <option #newCategory value="cookies">Cookies</option>
          </select>
        </div>
<br>
        <div>
          <label class="col-form-label-sm">Item Price:</label>
          <input class="col-form-label-sm" #newPrice>
        </div>
      </div>
      <button class="btn btn-outline-info"(click)="submitForm(newTitle.value, newCategory.value, newPrice.value); newTitle.value=''; newCategory.value=''; newPrice.value=''">Add New Item</button>
    </div>
  </div>
  <div class="col-md">
  <img class="img-fluid" src="https://brandless-1.imgix.net/content_placement_versions/images/000/000/079/original/Img_JWM_L2_Snacks.jpg?ixlib=rb-1.1.0&w=980&h=550&q=85&auto=format%2Ccompress&s=92e7877131054e8e0f7b15c67fc00f96" alt="">
</div>
</div>
</div>
<div class="">
  <app-marketplace></app-marketplace>

</div>
