<div class="top-space">
<p></p>
</div>
<div class="container">
  <div class="page" style="background-image: url(&quot;https://brandless-1.imgix.net/content_placement_versions/desktop_images/000/000/255/original/desktop_header_unboxing.png?ixlib=rb-1.1.0&amp;w=980&amp;h=550&amp;q=85&amp;auto=format%2Ccompress&amp;s=4d2e0beeb8244b4c87bff1d489dd3184&quot;);">

  <div class="call-to-action">
    <h2>BETTER EVERYTHING. FOR EVERYONE.</h2>
    <div>
      <p class="subheader-text">
        Start building your Brandless box today.
      </p>
    </div>
    <a href="" class="btn btn-primary">Shop All Products</a>
  </div>
</div>
