.top-space {
  margin: 20px;
}

.page {
  height: 332px;
  padding: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}

.call-to-action {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 518px;
  height: 100%;
  padding: 32px;
  border-radius: 14px;
  background-color: #fff;
  box-sizing: border-box;
}
