.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* grid-template: none | <grid-template-rows> / <grid-template-columns>; */
}

.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: left;
  width: 300px;
}

#price {
  text-align: right;
  font-weight: bolder;
  font-style: normal;
}
