/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f2f1ef;
  /* background-image: url("../src/assets/img/background-tiles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; */
}
